<div class="item-content">
    <form>
        <label class="item-input">
            <input placeholder="Tâche" type="text" value="{{task.id}}" ng-change="getTaskContent(lastId, task.content)" ng-model="task.content"/>
            <span class="item-note">
                <input placeholder="Priorité" type="text" value="{{task.tag}}" ng-change="getTaskTag(task.id, task.tag)" ng-model="task.tag"/>
            </span>
        </label>
    </form>
</div>
<div class="item-options invisible">
    <ion-option-button class="button-positive" ng-click="moveTask(task.id, 1)">Vers terminé</ion-option-button>
</div>