<ion-view view-title="Tâches" ng-init="getTasks(); getCompletedTasks(); getTags();">
    <ion-content>
        <ion-list ng-controller="ToDoListCtrl" can-swipe="listCanSwipe" id="taskList">
            <a class="item-icon-right" ng-click="createTask();">
                <ion-item class="item-positive">
                    Notes
                    <i class="icon ion-ios-plus"></i>
                </ion-item>
            </a>
            <ion-item ng-repeat="task in tasks">
                <form>
                    <label class="item-input item-select">
                        <input type="text" value="{{task.content}}"></input>
                        <select ng-required="true" ng-options="tag.id as tag.priority for tag in tags" ng-model="tagsSelect" ng-change="postSelectedTag(tagsSelect)"></select>
                    </label>
                </form>
                <ion-option-button class="button-positive" ng-click="share(item)">Vers terminé</ion-option-button>
            </ion-item>
        </ion-list>

        <ion-list>
            <a class="item-icon-right" href="#">
                <ion-item class="item-balanced">
                    <span class="badge badge-stable">{{completedTasksNumber}}</span>
                    Terminées
                </ion-item>
            </a>
            <ion-item ng-repeat="task in completedTasks">
                <form>
                    <label class="item-input item-select">
                        <input type="text" value="{{task.content}}"></input>
                        <select ng-options="tag.id as tag.priority for tag in tags" ng-model="tagsSelect" ng-change="postSelectedTag(tagsSelect)"></select>
                    </label>
                </form>
                <ion-option-button class="button-positive" ng-click="share(item)">Vers liste</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
