<ion-view view-title="ToDoList" ng-init="getCompletedTasks(); getTasks();">
    <ion-content>
        <ion-list can-swipe="listCanSwipe" id="taskList">
            <a class="item-icon-right" ng-click="postTask();">
                <ion-item class="item-positive">
                    Notes
                    <i class="icon ion-ios-plus-empty"></i>
                </ion-item>
            </a>
            <ion-item ng-repeat="task in tasks">
                <form>
                    <label class="item-input content-input">
                        <input placeholder="Tâche" type="text" value="{{task.content}}" ng-change="getTaskContent(task.id, task.content)" ng-model="task.content"/>
                    </label>
                    <label class="item-input priority-input">
                        <input placeholder="Priorité" type="text" value="{{task.tag}}" ng-change="getTaskTag(task.id, task.tag)" ng-model="task.tag"/>
                    </label>
                </form>
                <ion-option-button class="button-assertive" ng-click="deleteTask(task.id)">Supprimer</ion-option-button>
                <ion-option-button class="button-positive" ng-click="moveTask(task.id, 1)">Vers terminé</ion-option-button>
            </ion-item>
        </ion-list>

        <ion-list>
            <a class="item-icon-right" ng-click="showClosedList = !showClosedList;">
                <ion-item class="item-balanced">
                    <span class="badge badge-stable">{{completedTasksNumber}}</span>
                    Terminées
                </ion-item>
            </a>
            <ion-item ng-repeat="task in completedTasks" class="closedListItems" ng-show="showClosedList">
                <form>
                    <label class="item-input content-input">
                        <input placeholder="Tâche" type="text" value="{{task.content}}" ng-change="getTaskContent(task.id, task.content)" ng-model="task.content"/>
                    </label>
                    <label class="item-input priority-input">
                        <input placeholder="Priorité" type="text" value="{{task.tag}}" ng-change="getTaskTag(task.id, task.tag)" ng-model="task.tag"/>
                    </label>
                </form>
                <ion-option-button class="button-assertive" ng-click="deleteTask(task.id);">Supprimer</ion-option-button>
                <ion-option-button class="button-positive" ng-click="moveTask(task.id, 0)">Vers liste</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
