.badge.badge-stable {
    border-radius: 100%;
    right: auto;
    left: 110px;
}

a {
    text-decoration: none;
}

.item-input.priority-input input {
    text-align: right;
}

.icon.ion-ios-arrow-right, .icon.ion-ios-arrow-down, .icon.ion-ios-plus-empty {
    font-size: 30px;
}

.item-note-closedList {
    color: #fff;
}

.item-input{
    display: inline-block;
}

.item-input.content-input {
    width: 80%;
}